	<h3>Bienvenido a <%= title %></h3>
	<p>El portal donde podrá crear sus propios juegos !</p>
	<div id="nota">
		Nota al evaluador rezagado del Ej. P2P 8 !<br />
		Los usuarios para poder evaluar són:<br />
		admin/1234 ó juan/5678
		
	</div>
